<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h2>WhatsApp Sentiment Calculator</h2>
            <p class="lead"></p>
                <!-- Input File -->
                <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                    <input id="file-picker" type="file" name="file" accept="text/html/*" multiple>
                    <input type="text" name="text">
                    <div id="msg"></div>
                    <input class="btn btn-lg btn-success" type="submit" value="Upload!" id="upload-button">
                </form>
        </div>

        <footer class="footer">
            <p>&copy; Conor Byrne 2016 almost 2017</p>
        </footer>

    </div>
</body>

</html>